body {
    font-family: 'Outfit', sans-serif;
}

h1{
    font-size:50px !important; 
    font-weight: 600 !important;
    margin: 0 !important;
}

h2 {
    font-size: 40px !important;
    font-weight: 600 !important;
    margin: 0 !important;
}

h3 {
    font-size: 30px !important;
    font-weight: 600 !important;
    margin: 0 !important;
}

h4 {
    font-size: 20px !important;
    font-weight: 600 !important;
    margin: 0 !important;
}

h5 {
    font-size: 18px !important;
    font-weight: 600 !important;
    margin: 0 !important;
}

h6 {
    font-size: 16px !important;
    font-weight: 600 !important;
    margin: 0 !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}
.object-p-c{
    object-position: center !important;
}
.social-btn {
    height: 30px;
    width: 30px;
}

.object-fit {
    object-fit: cover;
    object-position: center;
}

.z--1 {
    z-index: -1;
}
.act:active{
    transform: scale(0.95) !important;
    transition: 0.3s;
}
.z-0{
    z-index: 0;
}

.z-10 {
    z-index: 10;
}
.z-1{
    z-index: 1;
}
.z-9 {
    z-index: 99;
}
.z-99 {
    z-index: 999;
}
.shadowall{
    box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.251);
}
.d-grid-center{
    display: grid;
    place-items: center;
}
.form-control:focus{
    /* border: none !important; */
    outline: none !important;
    box-shadow: none !important;
}
textarea:focus{
    /* border: none !important; */
    outline: none !important;
    box-shadow: none !important;
}
.section-padding{
    padding: 5rem 0px;
}
.bg-light2{
    background-color: rgb(238, 238, 238) !important;
}
.services-tabs .nav-link:hover {
    background-color: rgb(238, 238, 238) !important;
}
.services-tabs .nav-link{
    background-color: rgb(253, 253, 253) !important;
    transition: all 0.3s;
}
.services-tabs .nav-link.active {
    background-color: rgb(238, 238, 238) !important;
    border-radius: 50px;
}
.service-card-radio{
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 50%;
}
.services-tabs .list-group-item:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}
.services-tabs .list-group-item .list-group-item:hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
}
.services-tabs .list-group-item .list-group-item:active {
    transform: scale(0.99);
    transition: all 0.3s;
}

.service-card{
    display: flex !important;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.b-w-staff-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.w-fit{
    width: fit-content;
}
.s-tabs{
    display: flex;
    background-color: white;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.s-tabs::-webkit-scrollbar{
    width: 0px !important;
    height: 0px !important;
}
.shadowall1{
    box-shadow: 0 0 5px 1px gainsboro;
}
.s-tabs a{
    scroll-snap-align: start;
    white-space: nowrap;
}
.service-b-container{
    position: relative;
    /* z-index: 1; */
}
.service-b-container::before{
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    top: 40px;
    background-color: #212529;
}
.total-b{
    max-height: 120px;
    overflow-y: auto;
}
.total-b::-webkit-scrollbar{
    width: 5px !important;
    /* height: 0px !important; */
}
.total-b::-webkit-scrollbar-thumb{
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
}
.service-card label .service-card-radio span{
    opacity: 0;
    transition: all 0.3s;
    color: white;
    font-size: 20px;
    line-height: 30px;
}
.service-card input[type="checkbox"]:checked ~ label .service-card-radio{
    background-color: rgb(66, 88, 255);
    border: none;
}
.service-card input[type="checkbox"]:checked ~ label .service-card-radio span{
    opacity: 1;
}
.service-card label:hover{
    cursor: pointer;
}
.stick-s-top{
    position: sticky !important;
    z-index: 999;
    top: 100px;
}
.booksec{
    height: 100%;
}
.book-staff-section{
    display: none;
}
.book-time-section{
    display: none;
}
.book-staff-section .b-w-staff-img{
    width: 70px;
    height: 70px;
}
.book-staff-section .list-group-item,
.book-time-section .list-group-item{
    cursor: pointer;
}
.book-staff-section .list-group-item:hover,
.book-serv-section .list-group-item:hover,
.book-time-section .list-group-item:hover{
    background-color: rgb(249, 249, 249);
    cursor: pointer;
}
@media screen and (min-width:767.5px) {
    .service-stick{
        position: sticky;
        top: 30px ;
    }
}